@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1040px;
}

.wrapper {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}








img {
    height: 100%;
}